

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ee5253;
 
    background-color: #ccc;
}
.table{
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.1);
    font-size: 20px;
    min-width: 600px;
    margin: 20px auto;
    user-select: none;
    cursor: pointer;
}

.table thead tr{
    background-color: #222f3e ;
    color: white;
}
.table th{
    font-weight: 500;
    padding: 12px 15px;
    text-align: left;
    text-transform: uppercase;
}
.table td{
    padding: 12px 15px;
    color: rgba(0, 0,0, 0.7);
}
.table tbody tr{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:nth-child(even) {
    background-color: rgb(239, 239, 239);
}